location = /.well-known/apple-app-site-association {
    proxy_pass https://ajet-aasa.vercel.app/.well-known/apple-app-site-association;
    proxy_ssl_server_name on;
    proxy_set_header Host ajet-aasa.vercel.app;

    proxy_hide_header Content-Type;
    add_header Content-Type application/json always;
}
